<!-- <div class="text-center pagination-centered">
  <h1>Enrollment</h1>
</div> -->
<div class="container" ng-controller="enrollmentController">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3>Enrollment</h3>
    </div>
  </div>

  <table class="table table-condensed"> 
    <thead> 
      <tr> 
        <th>#</th> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Username</th>
      </tr> 
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th> 
        <td>Mark</td> 
        <td>Otto</td> 
        <td>@mdo</td> 
      </tr>
      <tr> 
        <th scope="row">2</th>
          <td>Jacob</td> 
          <td>Thornton</td> 
          <td>@fat</td> 
      </tr>
      <tr> 
        <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td> 
          <td>@twitter</td> 
      </tr>
    </tbody>
  </table>

  <div class="list-group">
    <!-- <div class="panel panel-default"> -->
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <input ng-model="query" class="form-control" placeholder="Search your courses by using course ID">
      </div>
    </div>

    <div class="panel-group" id="heading1" aria-multiselectable="true" role="tablist" aria-multiselectable="true">
      <!-- <li ng-repeat="aCourse in courses"> -->
      <button ng-repeat="aCourse in courses | objFilter:query" type="button" class="list-group-item" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapse{{aCourse.id}}" aria-expanded="false" aria-controls="collapse{{aCourse.id}}">
        <h4 class="panel-title">
          {{aCourse.id}}
          <span class= "tab-space">{{aCourse.name.en}}</span>
          <div class= "glyphicon glyphicon-triangle-bottom pull-right"></div>
        </h4>
        <!-- </div> -->
        <div id="collapse{{aCourse.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{aCourse.id}}">
          <span class="panel-body">
            <b style="font-size: 15pt">Credit:</b>
            <div class="btn-group" role="group">
              <div class="btn btn-default disabled">Self : {{aCourse.credit.self}}</div>
              <div class="btn btn-default disabled">Lab : {{aCourse.credit.lab}}</div>
              <div class="btn btn-default disabled">Total : {{aCourse.credit.total}}</div>
              <div class="btn btn-default disabled">Lecture : {{aCourse.credit.lecture}}</div>
            </div>
          </span>
          <span class="panel-body">
            {{aCourse.description.en}}
          </span>
          <ul class="event-list">
            <!-- {{getSection(aCourse.id)}} -->
            <li ng-repeat="aSection in sections[aCourse.id]">
              <time datetime="2014-07-20">
                <span class="day">Section</span>
                <span class="month">{{aSection.id}}</span>
              </time>
              
              <div class="info">
                <h2 class="title">{{aSection.type}}</h2>
                <p class="desc"><b>Instructor:</b> {{aSection.instructors[0]}}</p>
                <ul>
                  <li style="width:33%;"><b>Where </b><span class="glyphicon glyphicon-map-marker"> {{aSection.location}}</span></li>
                  <li style="width:34%;"><b>When </b><span class="glyphicon glyphicon-time"> {{aSection.date}}</span></li>
                  <li style="width:33%;"><b>Remain </b><span class="glyphicon glyphicon-user"> {{aSection.accept}}</span></li>
                </ul>
              </div>
              <div class="social">
                <ul>
                  <li class="facebook" style="width:100%;"><a href="" ng-click="addCourse(aCourse, aSection)"><span class="glyphicon glyphicon-plus vcenter"></span></a></li>
                </ul>
              </div>
            </li>

          </ul>
        </div>
      </button>
    </div>
  </div>


<!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
  Button with data-target
</button>
<div class="collapse" id="collapseExample">
  <div class="well">
    dgelkrgnioernagoinerougneorngjoengojenrgnal
  </div>
</div>

  <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse
  </button>
  <hr>
  <div uib-collapse="isCollapsed">
    <div class="well well-lg">Some content</div>
  </div> -->

  
</div>
</div>

